//css file of floating social share plugin


.fsm-wrap-plugin tr {
    float: left !important;
	width: 50% !important;
}
.fsm-setting-style .form-table tr {
    width: 50%;
    overflow: hidden;
    display: block;
    float: left;
}