
/* CSS File for plugin frontend*/
.fsm-option {
   /* width: 4%;
     float: left; */
    top: 14%;
    position: fixed;
	left: 1px;
}
.fsm-option a {
    overflow: hidden;
    display: block;
    height: 30px;
	
}
.fsm-option a:hover {
    padding-left: 2px;
}
.fsm-setting-style table.form-table input {
    width: 280px;
}